{% extends '__base__.html' %}

{% block title %}全部任务{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
    <div class="uk-width-large-1-4">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">编号</h3>
            {{id}}
        </div>
    </div>
    <div class="uk-width-large-1-4">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">版本号</h3>
            {{version}}
        </div>
    </div>
    <div class="uk-width-large-1-4">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">处理人</h3>
            {{user_name}}
        </div>
    </div>
    <div class="uk-width-large-1-4">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">状态</h3>
            {{status}}
        </div>
    </div>
    
    <div class="uk-width-1-1 uk-form uk-form-stacked">
        <div class="uk-form-row">
            <label class="uk-form-label">出错内容:</label>
            <div class="uk-form-controls">
                <textarea v-model="content" rows="15" name="content" placeholder="内容" class="uk-width-1-1" style="resize:true;" readonly="true">
{{text}}
                </textarea>
            </div>
        </div>
        {% for device in devices %}
        <a href="{{device}}"> <div class="uk-text-primary uk-text-bold">下载原始文件:{{device}}</div> </a>
        {% endfor %}
        {% if __user__ %}
        <div class="uk-form-row">
            {% if status == "处理中" %}
            <button class="uk-button uk-button-primary"><i class="uk-icon-check"></i> 解决</button>
            <button class="uk-button"><i class="uk-icon-times"></i> 放弃</button>
            {% else %}
            <button class="uk-button uk-button-success"><i class="uk-icon-check"></i> 领取</button>
            {% endif %}
        </div>
        {% endif %}
    </div>
    
    <!--<div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>-->

{% endblock %}